# Model attention analysis
We assume that the social-token model has learned to "pay attention" to different aspects of input text based on different social groups' expectations.

Let's test this by analyzing the attention distribution for the social-token model for different inputs!

In [1]:
## load test data
import torch
test_data = torch.load('../../data/reddit_data/combined_data_test_data.pt')
data_cols = ['source_text', 'target_text', 'article_id', 'id', 'author', 'reader_token_str', 'source_ids', 'source_ids_reader_token', 'attention_mask']
test_data = test_data.data.to_pandas().loc[:, data_cols]
display(test_data.head())

,source_text,target_text,article_id,id,author,reader_token_str,source_ids,source_ids_reader_token,attention_mask
0,I live in Florida I haven't filed my taxes in ...,"Before those years, did you have a good histor...",b49v6a,ej5dvzk,these-things-happen,UNK,"[0, 100, 697, 11, 1261, 38, 2220, 75, 1658, 12...","[0, 100, 697, 11, 1261, 38, 2220, 75, 1658, 12...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
1,I just came off the phone with my very enraged...,Is there a way to celebrate like on the 23rd o...,dwavsu,f7hp94x,smithjojo99,UNK,"[0, 100, 95, 376, 160, 5, 1028, 19, 127, 182, ...","[0, 100, 95, 376, 160, 5, 1028, 19, 127, 182, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
2,This happened in college a few years back and ...,Did you normally give back the change?,9mfdhu,e7eccty,LearnedButt,<EXPERT_PCT_0_AUTHOR>,"[0, 713, 1102, 11, 1564, 10, 367, 107, 124, 8,...","[0, 1102, 11, 1564, 10, 367, 107, 124, 8, 4596...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
3,I recently went on a short 4-day holiday and o...,I don't think you are an asshole but is there ...,88k7t3,dwlbnpc,justdeadstars,UNK,"[0, 100, 682, 439, 15, 10, 765, 204, 12, 1208,...","[0, 100, 682, 439, 15, 10, 765, 204, 12, 1208,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
4,"As far as I know, any child born abroad to a l...",I'm guessing they didn't follow the procedure ...,cy5vc6,eypwupx,UsuallySunny,<RESPONSE_TIME_0_AUTHOR>,"[0, 1620, 444, 25, 38, 216, 6, 143, 920, 2421,...","[0, 444, 25, 38, 216, 6, 143, 920, 2421, 5358,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."

In [2]:
## identify posts w/ questions from different groups 
reader_group_token_lookup = {
    'location_region' : ['<US_AUTHOR>', '<NONUS_AUTHOR>'],
    'expert_pct_bin' : ['<EXPERT_PCT_0_AUTHOR>', '<EXPERT_PCT_1_AUTHOR>'],
    'relative_time_bin' : ['<RESPONSE_TIME_0_AUTHOR>', '<RESPONSE_TIME_1_AUTHOR>'],
}
reader_token_group_lookup = {
    v : k for k, vs in reader_group_token_lookup.items() for v in vs
}
test_data = test_data.assign(**{
    'reader_group' : test_data.loc[:, 'reader_token_str'].apply(reader_token_group_lookup.get)
})
reader_group_test_data = test_data.dropna(subset=['reader_group'])
print(reader_group_test_data.loc[:, 'reader_group'].value_counts())

expert_pct_bin       14324
relative_time_bin    14324
location_region       2648
Name: reader_group, dtype: int64

In [3]:
import pandas as pd
from tqdm import tqdm
id_with_all_groups = []
post_id_var = 'article_id'
reader_group_var = 'reader_group'
for id_i, data_i in tqdm(reader_group_test_data.groupby(post_id_var)):
    for group_j, data_j in data_i.groupby(reader_group_var):
        if(data_j.loc[:, 'reader_token_str'].nunique()==2):
            id_with_all_groups.append([id_i, group_j])
id_with_all_groups = pd.DataFrame(id_with_all_groups, columns=[post_id_var, reader_group_var])
paired_reader_group_test_data = pd.merge(reader_group_test_data, id_with_all_groups, on=[post_id_var, reader_group_var], how='inner')
# sort values to make lookup less annoying
paired_reader_group_test_data.sort_values([post_id_var, reader_group_var], inplace=True, ascending=True)
display(paired_reader_group_test_data.loc[:, reader_group_var].value_counts())

100%|██████████| 11272/11272 [00:09<00:00, 1169.08it/s]

relative_time_bin    2681
expert_pct_bin       2508
location_region       280
Name: reader_group, dtype: int64

## Compute attention distributions
Let's compute the attention distributions from the social-token model.

In [4]:
import os
os.environ['CUDA_VISIBLE_DEVICES'] = '1'

In [5]:
## load model lol
from model_helpers import load_model
model_cache_dir = '../../data/model_cache/'
model_file = '../../data/reddit_data/author_text_data/question_generation_model/checkpoint-129000/pytorch_model.bin'
model_type = 'bart_author_token'
data_dir = '../../data/reddit_data/'
model, tokenizer = load_model(model_cache_dir, model_file, model_type, data_dir)
model = model.eval()

In [6]:
# test input
import torch
import re
import numpy as np
test_input_data = paired_reader_group_test_data.iloc[:2]
test_output_attn_data = []
test_output_reader_tokens = []
for idx_i, data_i in test_input_data.iterrows():
    test_output_attn_data_i = []
    test_output_reader_tokens.append(data_i.loc['reader_token_str'])
#     print(f'group = {data_i.loc["reader_token_str"]}')
# test_input_data = paired_reader_group_test_data.iloc[0]
    test_input_ids = torch.LongTensor(data_i.loc['source_ids_reader_token']).unsqueeze(0)
    test_attention_mask = torch.LongTensor(data_i.loc['attention_mask']).unsqueeze(0)
    with torch.no_grad():
        test_output = model(input_ids=test_input_ids.to(model.device), 
                            attention_mask=test_attention_mask.to(model.device), 
                            output_attentions=True)
    # print(test_output.encoder_attentions[0].shape)
    ## cannot use bertviz because of long sequence
    # use first layer of attention?
    # compute mean over all heads, then mean over all tokens
    test_output_attn = np.array(test_output.encoder_attentions[0].mean(dim=1).mean(dim=1).squeeze(0).cpu())
    # show raw values
    test_input_tokens = tokenizer.convert_ids_to_tokens(test_input_ids[0], skip_special_tokens=True) # drop PAD tokens
    test_input_tokens = list(map(lambda x: re.sub('^[Ġ]', '', x), test_input_tokens))
    for token_i, attn_i in zip(test_input_tokens, test_output_attn):
        test_output_attn_data_i.append([token_i, attn_i])
#         print(f'{attn_i:.3f} ({token_i})')
    test_output_attn_data_i = pd.DataFrame(test_output_attn_data_i, columns=[f'token_{data_i.loc["reader_token_str"]}', f'attn_{data_i.loc["reader_token_str"]}'])
    test_output_attn_data.append(test_output_attn_data_i)
test_output_attn_data = pd.concat(test_output_attn_data, axis=1)
# compute diff
test_output_reader_token_1, test_output_reader_token_2 = test_output_reader_tokens
test_output_attn_data = test_output_attn_data.assign(**{
    'attn_diff' : test_output_attn_data.loc[:, f'attn_{test_output_reader_token_1}'] / test_output_attn_data.loc[:, f'attn_{test_output_reader_token_2}']
})
# get rank by attn diff
test_output_attn_data = test_output_attn_data.assign(**{
    'attn_diff_rank' : test_output_attn_data.loc[:, 'attn_diff'].argsort()
})

In [7]:
pd.set_option('display.max_rows', 500)
display(test_output_attn_data)

,token_<NONUS_AUTHOR>,attn_<NONUS_AUTHOR>,token_<US_AUTHOR>,attn_<US_AUTHOR>,attn_diff,attn_diff_rank
0,gin,0.065053,gin,0.065047,1.000087,153
1,ally,0.004280,ally,0.004258,1.005267,218
2,I,0.004908,I,0.004906,1.000445,89
3,was,0.001142,was,0.001140,1.002111,64
4,quoted,0.002210,quoted,0.002211,0.999664,47
5,a,0.004749,a,0.004741,1.001519,93
6,salary,0.002113,salary,0.002114,0.999807,219
7,of,0.003699,of,0.003690,1.002454,50
8,97,0.002850,97,0.002845,1.001557,210
9,k,0.015699,k,0.015628,1.004534,159
10,.,0.001761,.,0.001761,0.999979,75
11,I,0.004814,I,0.004804,1.002045,21
12,accepted,0.001684,accepted,0.001681,1.001965,200
13,.,0.004299,.,0.004287,1.002791,171
14,Later,0.004839,Later,0.004830,1.001965,25
15,",",0.004991,",",0.004987,1.000870,92
16,in,0.003233,in,0.003229,1.001077,55
17,an,0.003848,an,0.003844,1.000981,214
18,email,0.002036,email,0.002035,1.000718,34
19,",",0.002544,",",0.002543,1.000302,156
20,I,0.003105,I,0.003101,1.001197,31
21,was,0.001436,was,0.001437,0.999333,58
22,told,0.002427,told,0.002427,0.999981,4
23,that,0.002136,that,0.002136,1.000096,67
24,was,0.002219,was,0.002216,1.001465,180
25,a,0.002523,a,0.002524,0.999442,33
26,mistake,0.002041,mistake,0.002041,1.000106,84
27,and,0.003863,and,0.003859,1.000988,6
28,that,0.002515,that,0.002505,1.004067,41
29,my,0.001743,my,0.001741,1.001089,194
30,actual,0.002479,actual,0.002477,1.000903,162
31,salary,0.003276,salary,0.003278,0.999654,91
32,would,0.004120,would,0.004112,1.002120,183
33,be,0.002742,be,0.002743,0.999738,78
34,around,0.003125,around,0.003126,0.999585,74
35,75,0.003093,75,0.003090,1.000785,82
36,k,0.007483,k,0.007479,1.000480,163
37,.,0.002873,.,0.002873,1.000009,49
38,They,0.004997,They,0.004992,1.001046,118
39,said,0.003315,said,0.003307,1.002524,87
40,"""",0.002367,"""",0.002365,1.000835,10
41,I,0.002757,I,0.002757,0.999840,22
42,hope,0.001823,hope,0.001819,1.001931,107
43,this,0.003161,this,0.003160,1.000519,37
44,doesnt,0.003042,doesnt,0.003037,1.001569,79
45,impact,0.004355,impact,0.004354,1.000308,203
46,your,0.002715,your,0.002714,1.000299,198
47,decision,0.002692,decision,0.002698,0.997722,132
48,to,0.003026,to,0.003024,1.000548,158
49,work,0.002920,work,0.002920,0.999947,177
50,for,0.002190,for,0.002192,0.999157,217
51,us,0.002763,us,0.002762,1.000068,51
52,""".",0.002334,""".",0.002332,1.001001,98
53,I,0.006516,I,0.006499,1.002691,0
54,told,0.002272,told,0.002268,1.001482,152
55,them,0.002773,them,0.002774,0.999511,101
56,it,0.002100,it,0.002099,1.000379,23
57,did,0.001966,did,0.001964,1.000779,80
58,impact,0.002545,impact,0.002546,0.999660,26
59,my,0.003073,my,0.003072,1.000245,189
60,decision,0.002428,decision,0.002427,1.000587,166
61,.,0.002865,.,0.002862,1.000815,182
62,I,0.003613,I,0.003609,1.001229,65
63,told,0.001677,told,0.001675,1.001375,196
64,them,0.002828,them,0.002836,0.997463,97
65,this,0.001901,this,0.001901,1.000150,160
66,was,0.002562,was,0.002560,1.000803,110
67,my,0.002505,my,0.002505,0.999701,201
68,dream,0.002902,dream,0.002900,1.000686,193
69,job,0.004552,job,0.004534,1.003955,199
70,but,0.002514,but,0.002514,1.000274,59
71,that,0.002999,that,0.002998,1.000625,165
72,I,0.002710,I,0.002704,1.002466,103
73,have,0.002209,have,0.002205,1.001903,76
74,offers,0.001933,offers,0.001934,0.999918,167
75,for,0.003587,for,0.003590,0.999316,70
76,up,0.004895,up,0.004894,1.000262,105
77,120,0.003476,120,0.003475,1.000408,147
78,k,0.006116,k,0.006116,0.999903,190
79,so,0.003431,so,0.003431,1.000021,136
80,I,0.002017,I,0.002017,1.000096,46
81,am,0.001979,am,0.001977,1.001382,138
82,definitely,0.002880,definitely,0.002880,0.999921,19
83,not,0.003500,not,0.003498,1.000409,45
84,accepting,0.002090,accepting,0.002090,0.999801,181
85,75,0.004068,75,0.004057,1.002685,164
86,k,0.005804,k,0.005800,1.000669,124
87,.,0.001916,.,0.001916,0.999971,56
88,,0.004019,,0.004010,1.002184,77
89,Finally,0.002084,Finally,0.002091,0.997091,83
90,after,0.006623,after,0.006554,1.010461,169
91,much,0.002805,much,0.002805,0.999883,119
92,negotiation,0.002348,negotiation,0.002349,0.999453,2
93,",",0.008878,",",0.008889,0.998719,179
94,we,0.002871,we,0.002868,1.001220,129
95,settled,0.002155,settled,0.002152,1.001576,170
96,on,0.008117,on,0.008058,1.007274,36
97,a,0.002979,a,0.002978,1.000159,108
98,salary,0.001958,salary,0.001958,1.000081,100
99,of,0.003137,of,0.003129,1.002330,145
100,$,0.003299,$,0.003298,1.000501,178
101,94,0.001348,94,0.001348,1.000093,43
102,k,0.008859,k,0.008811,1.005434,208
103,and,0.002194,and,0.002193,1.000257,195
104,$,0.002119,$,0.002113,1.003056,48
105,10,0.001490,10,0.001489,1.000288,151
106,k,0.002961,k,0.002957,1.001065,113
107,per,0.001904,per,0.001904,0.999994,60
108,year,0.003593,year,0.003592,1.000490,71
109,student,0.002181,student,0.002179,1.000775,146
110,loan,0.003688,loan,0.003687,1.000207,86
111,repayment,0.002348,repayment,0.002346,1.001102,120
112,(,0.006534,(,0.006496,1.005796,172
113,for,0.002600,for,0.002598,1.000564,68
114,up,0.003518,up,0.003513,1.001372,144
115,to,0.001971,to,0.001969,1.001146,126
116,60,0.003044,60,0.003041,1.000721,122
117,k,0.002054,k,0.002053,1.000711,117
118,for,0.002276,for,0.002276,0.999964,18
119,6,0.003096,6,0.003095,1.000444,116
120,years,0.001467,years,0.001466,1.000683,127
121,).,0.002732,).,0.002730,1.000914,186
122,Now,0.002683,Now,0.002681,1.000710,204
123,",",0.002512,",",0.002506,1.002407,205
124,months,0.004306,months,0.004304,1.000365,109
125,later,0.002228,later,0.002225,1.001407,57
126,",",0.002744,",",0.002742,1.000708,131
127,I,0.002722,I,0.002720,1.000730,35
128,am,0.001840,am,0.001837,1.001555,66
129,filling,0.001991,filling,0.001990,1.000476,173
130,out,0.005032,out,0.005016,1.003096,135
131,the,0.002024,the,0.002023,1.000783,61
132,loan,0.002904,loan,0.002904,1.000053,40
133,repayment,0.002392,repayment,0.002389,1.000991,15
134,paper,0.007345,paper,0.007304,1.005618,30
135,work,0.003483,work,0.003480,1.000809,121
136,and,0.002055,and,0.002054,1.000295,148
137,the,0.002854,the,0.002851,1.001376,17
138,HR,0.002949,HR,0.002949,1.000300,27
139,lady,0.003927,lady,0.003911,1.003981,133
140,emails,0.002569,emails,0.002562,1.002765,52
141,me,0.004053,me,0.004046,1.001812,174
142,again,0.002768,again,0.002763,1.001824,202
143,saying,0.003768,saying,0.003755,1.003396,38
144,they,0.002825,they,0.002823,1.000700,106
145,made,0.002020,made,0.002019,1.000508,154
146,a,0.001928,a,0.001927,1.000651,16
147,mistake,0.002888,mistake,0.002887,1.000294,29
148,and,0.003806,and,0.003802,1.000916,111
149,that,0.002442,that,0.002437,1.002328,187
150,after,0.001956,after,0.001948,1.003973,115
151,re,0.003335,re,0.003333,1.000560,213
152,iven,0.002969,iven,0.002968,1.000093,20
153,st,0.055363,st,0.056795,0.974792,94
154,igation,0.002466,igation,0.002464,1.001068,62
155,of,0.010061,of,0.009983,1.007860,206
156,policies,0.003110,policies,0.003111,0.999644,114
157,the,0.003563,the,0.003554,1.002506,63
158,student,0.002246,student,0.002245,1.000057,137
159,loan,0.003249,loan,0.003251,0.999215,81
160,repayment,0.002519,repayment,0.002519,1.000205,125
161,is,0.007603,is,0.007569,1.004406,24
162,only,0.002108,only,0.002109,0.999875,54
163,going,0.001601,going,0.001602,0.999924,5
164,to,0.002472,to,0.002471,1.000358,128
165,be,0.003325,be,0.003324,1.000246,8
166,a,0.003057,a,0.003057,1.000145,44
167,TOTAL,0.002369,TOTAL,0.002369,1.000273,215
168,of,0.010124,of,0.010028,1.009532,95
169,10,0.002917,10,0.002916,1.000422,188
170,k,0.002177,k,0.002176,1.000478,212
171,over,0.002952,over,0.002954,0.999407,141
172,3,0.002728,3,0.002727,1.000686,142
173,years,0.001712,years,0.001711,1.000806,216
174,.,0.002498,.,0.002495,1.001018,73
175,And,0.004750,And,0.004740,1.002055,42
176,the,0.002308,the,0.002301,1.002761,191
177,full,0.002565,full,0.002565,1.000061,12
178,60,0.003005,60,0.003004,1.000518,14
179,k,0.002090,k,0.002089,1.000447,11
180,will,0.002413,will,0.002414,0.999728,175
181,not,0.002066,not,0.002065,1.000356,3
182,be,0.001716,be,0.001716,1.000147,32
183,reached,0.002036,reached,0.002037,0.999898,88
184,until,0.008632,until,0.008611,1.002437,149
185,8,0.004129,8,0.004119,1.002439,99
186,years,0.001753,years,0.001752,1.000737,123
187,.,0.002662,.,0.002659,1.001119,184
188,How,0.004670,How,0.004662,1.001782,185
189,should,0.001874,should,0.001874,1.000119,7
190,I,0.001992,I,0.001992,1.000295,72
191,respond,0.001653,respond,0.001650,1.001953,157
192,to,0.003666,to,0.003656,1.002894,39
193,the,0.002712,the,0.002712,1.000222,85
194,email,0.002272,email,0.002273,0.999851,53
195,if,0.002555,if,0.002553,1.000530,176
196,this,0.002188,this,0.002187,1.000150,140
197,is,0.002720,is,0.002708,1.004482,211
198,not,0.002111,not,0.002111,1.000027,13
199,okay,0.001512,okay,0.001512,1.000233,192
200,with,0.002194,with,0.002195,0.999337,209
201,me,0.003121,me,0.003121,1.000219,104
202,?,0.001460,?,0.001458,1.001021,130
203,Are,0.004128,Are,0.004128,1.000025,143
204,all,0.002036,all,0.002034,1.000765,69
205,these,0.001600,these,0.001598,1.000768,150
206,changes,0.002446,changes,0.002443,1.001261,139
207,red,0.003016,red,0.002999,1.005691,28
208,flags,0.002666,flags,0.002664,1.000521,161
209,?,0.008038,?,0.008014,1.003047,197
210,Should,0.002998,Should,0.003000,0.999198,9
211,I,0.002386,I,0.002379,1.002782,1
212,pick,0.001469,pick,0.001466,1.001797,102
213,a,0.002760,a,0.002757,1.001175,134
214,different,0.002560,different,0.002561,0.999563,207
215,place,0.002642,place,0.002638,1.001569,112
216,to,0.001791,to,0.001788,1.001872,96
217,work,0.002366,work,0.002366,1.000063,155
218,?,0.001974,?,0.001981,0.996410,168
219,<NONUS_AUTHOR>,0.002494,<US_AUTHOR>,0.002497,0.998876,90

For every post, let's get the attention distributions for each pair of authors in group G1 and G2, compute the KL divergence between A_{G1} and A_{G2}, get posts w/ high divergence.

In [8]:
import numpy as np
def compute_attn_distribution(input_data, model, layer=0):
    input_ids = torch.LongTensor(input_data.loc['source_ids_reader_token']).unsqueeze(0)
    attention_mask = torch.LongTensor(input_data.loc['attention_mask']).unsqueeze(0)
    with torch.no_grad():
        model_output = model(input_ids=input_ids.to(model.device), 
                             attention_mask=attention_mask.to(model.device), 
                             output_attentions=True)
    model_output_attn = np.array(model_output.encoder_attentions[layer].mean(dim=1).mean(dim=1).squeeze(0).cpu())
    return model_output_attn

In [10]:
from tqdm import tqdm
tqdm.pandas()
attn_layer = 0
paired_reader_group_test_data = paired_reader_group_test_data.assign(**{
    'input_attention' : paired_reader_group_test_data.progress_apply(lambda x: compute_attn_distribution(x, model, layer=attn_layer), axis=1)
})

100%|██████████| 5469/5469 [04:26<00:00, 20.49it/s]

In [11]:
## save, reload to release GPU memory ;_;
# save arrays as lists for easier loading
list_cols = ['input_attention', 'source_ids', 'source_ids_reader_token', 'attention_mask']
paired_reader_group_test_data = paired_reader_group_test_data.assign(**{
    c : paired_reader_group_test_data.loc[:, c].apply(list)
    for c in list_cols
})
paired_reader_group_test_data.to_csv('paired_test_data_tmp.gz', sep='\t', compression='gzip', index=False)

In [6]:
## reload
import pandas as pd
from ast import literal_eval
import sys
if('..' not in sys.path):
    sys.path.append('..')
from data_processing.data_helpers import str2array
list_cols = ['source_ids', 'source_ids_reader_token', 'attention_mask', 'input_attention']
converters = {
    c : literal_eval
    for c in list_cols
}
paired_reader_group_test_data = pd.read_csv('paired_test_data_tmp.gz', sep='\t', converters=converters)
# limit attention to actual input length
import numpy as np
PAD_TOKEN_ID = 1
def clip_attn(attention, input_ids):
    attn_end_idx = len(input_ids)
    pad_token_idx = np.where(np.array(input_ids)==PAD_TOKEN_ID)[0]
    if(len(pad_token_idx) > 0):
        attn_end_idx = pad_token_idx.min()
    # remove <START> and <READER_TOKEN>
    attention = attention[1:(attn_end_idx-1)]
    return attention
paired_reader_group_test_data = paired_reader_group_test_data.assign(**{
    'input_attention' : paired_reader_group_test_data.apply(lambda x: clip_attn(x.loc['input_attention'], x.loc['source_ids_reader_token']), axis=1)
})

In [7]:
## get tokens
import torch
import re
tokenizer = torch.load('../../data/reddit_data/author_text_data/BART_tokenizer.pt')
paired_reader_group_test_data = paired_reader_group_test_data.assign(**{
    'input_tokens' : paired_reader_group_test_data.loc[:, 'source_ids_reader_token'].apply(lambda x: list(map(lambda y: re.sub('^[Ġ]', '', y), tokenizer.convert_ids_to_tokens(x, skip_special_tokens=True))))
})

In [8]:
from scipy.special import kl_div
def compute_attn_divergence(data, group_var='reader_token_str', attn_var='input_attention'):
    """
    Compute divergence between groups,
    also reshape data.
    """
    reader_groups = data.loc[:, group_var].unique()
    group_1, group_2 = reader_groups
    data_1 = data[data.loc[:, group_var]==group_1].iloc[0, :]
    data_2 = data[data.loc[:, group_var]==group_2].iloc[0, :]
    div_1_2 = kl_div(data_1.loc[attn_var], data_2.loc[attn_var]).sum()
    # tokens_1 | group_1 | attn_1 | tokens_2 | group_2 | attn_2 | divergence
    div_data_cols = ['input_tokens', group_var, attn_var]
    div_data = pd.concat([
        data_1.loc[div_data_cols].rename({c : f'{c}_1' for c in div_data_cols}),
        data_2.loc[div_data_cols].rename({c : f'{c}_2' for c in div_data_cols}),
    ])
    div_data.loc['group_1'] = group_1
    div_data.loc['group_2'] = group_2
    div_data.loc['attn_div'] = div_1_2
    # add "normal" input tokens w/out reader token
    div_data.loc['input_tokens'] = div_data.loc['input_tokens_1'][:-1]
    return div_data

In [9]:
id_var = 'article_id'
group_var = 'reader_group'
attn_div_data = []
for (id_i, group_i), data_i in paired_reader_group_test_data.groupby([id_var, group_var]):
    div_data_i = compute_attn_divergence(data_i)
    div_data_i.loc[group_var] = group_i
    div_data_i.loc[id_var] = id_i
    attn_div_data.append(div_data_i)
attn_div_data = pd.concat(attn_div_data, axis=1).transpose()
# also get raw input text for easier viewing
attn_div_data = attn_div_data.assign(**{
    'source_text' : attn_div_data.loc[:, 'input_tokens_1'].apply(lambda x: ' '.join(x[:-1]))
})

In [ ]:
attn_div_data.loc[:, 'input_tokens_1'].iloc[0]

In [10]:
pd.set_option('display.max_colwidth', 1000)
display_cols = ['group_1', 'group_2', 'source_text', 'input_attention_1', 'input_attention_2', 'attn_div']
for group_i, data_i in attn_div_data.groupby('reader_group'):
    data_i.sort_values('attn_div', ascending=False, inplace=True)
    print(f'group={group_i}')
    display(data_i.loc[:, display_cols].head(10))

group=expert_pct_bin

,group_1,group_2,source_text,input_attention_1,input_attention_2,attn_div
593,<EXPERT_PCT_0_AUTHOR>,<EXPERT_PCT_1_AUTHOR>,"I can 't deal with my parents anymore but unfortunately , you can 't file as an independent until you 're 24 and I 'm 18 and a college junior . If I wanted to marry someone literally just for F AS FA would there be any actual problems ? I guess that it could be considered unethical but I like 80 % of my college is already paid for through Bright Fut ures and the FL State grant it 's just that I need my parents to sign for F AS FA . If I did this and then divorced the person after I get into grad school would there be a problem ?","[0.0019550372, 0.0034003402, 0.0029003527, 0.0054153083, 0.004307159, 0.00281363, 0.0038389084, 0.0063671772, 0.0024802692, 0.007037138, 0.0068509467, 0.0028487595, 0.0035997755, 0.003296809, 0.00464324, 0.0044449028, 0.005276286, 0.0053407843, 0.008855231, 0.0026119403, 0.004809672, 0.0048482968, 0.0036635213, 0.003490619, 0.0049295947, 0.00341277, 0.0042533493, 0.0048487317, 0.0061361017, 0.00874549, 0.008004145, 0.004400553, 0.005007634, 0.0058414387, 0.006541002, 0.008584058, 0.0032003466, 0.0060927304, 0.003383433, 0.0055569955, 0.0041262396, 0.0048697446, 0.011329683, 0.0056323493, 0.004617183, 0.004545777, 0.004391916, 0.005480661, 0.005399121, 0.0047496576, 0.0032361194, 0.005959294, 0.0029313539, 0.0045742234, 0.0042570992, 0.0034903958, 0.003928134, 0.012677498, 0.004141916, 0.0029986172, 0.0028660162, 0.0040249676, 0.003439186, 0.0057802624, 0.003563331, 0.0054704086, 0.0040623806, 0.005761546, 0.0037147386, 0.0056445766, 0.00694219, 0.028202748, 0.08005425, 0.0077761314...","[0.0019839886, 0.003400834, 0.0029041516, 0.005446761, 0.0043042535, 0.0028382838, 0.0038570964, 0.006414447, 0.002487842, 0.0071890643, 0.0068841763, 0.002858169, 0.0035782794, 0.003299824, 0.004665374, 0.004459153, 0.0052765985, 0.0053669116, 0.008986492, 0.0026174816, 0.004815117, 0.0048250575, 0.0036947033, 0.0035237262, 0.004940683, 0.003429441, 0.0043073827, 0.004853717, 0.0061514177, 0.008956302, 0.008044838, 0.004403361, 0.005035302, 0.005847381, 0.0065551884, 0.008673008, 0.0032036733, 0.0061102, 0.0033855336, 0.0055642, 0.0041401316, 0.004951226, 0.011430013, 0.005636352, 0.0046337424, 0.0045603383, 0.0043936106, 0.0054249354, 0.0054173707, 0.0047491286, 0.0032638349, 0.0059144516, 0.0029586675, 0.004592142, 0.004262815, 0.0034814808, 0.00393535, 0.012800914, 0.0041491883, 0.0030242342, 0.002865455, 0.0040307934, 0.0034505688, 0.0057677366, 0.0035866199, 0.005492348, 0.004067849, 0.0057834405, 0.0037244912, 0.005659535, 0.0069705094, 0.029732106, 0.09059796, 0.007933917, ...",0.001248
186,<EXPERT_PCT_0_AUTHOR>,<EXPERT_PCT_1_AUTHOR>,"wife had an old 401 k with about $ 15 , 000 in it from a job she left several years ago . The 401 k was with Wells Fargo . 1 month ago I noticed Wells had been charging about $ 20 annually in administration fees , which annoyed me . So we moved all that money into a Roll over IRA with Schw ab . All those dollars are now invested in lower cost investments , and with a much more trustworthy company ( Sch w ab ). Victory ! & amp ; # x 200 B ; However , my wife called Wells today to give them the final middle finger and close the account , but Wells told her "" your old employer needs to do that , or you 'll need to wait several years for the account to close ."" & amp ; # x 200 B ; My BS detector is going off . Is this true ? & amp ; # x 200 B ; If no , then any recommendations ? & amp ; # x 200 B ; If yes , then I have other concerns . If we try to contact her old employer ( a mega corporation ), I 'm concerned it 'll take tons of time because I have no idea who to contact . An...","[0.0015061318, 0.0019442467, 0.0017070821, 0.0018804994, 0.004461615, 0.0014316454, 0.0018998552, 0.00203843, 0.0013407624, 0.0017580276, 0.0024988311, 0.0024003964, 0.0027846254, 0.001687012, 0.0025495565, 0.001655834, 0.0021109546, 0.0013730344, 0.0023244428, 0.0025926256, 0.0018618137, 0.0026743177, 0.0027669999, 0.0016971333, 0.0033086606, 0.004541868, 0.0014885105, 0.002203238, 0.001659719, 0.006113001, 0.0063622836, 0.0035960157, 0.0016715495, 0.0015695047, 0.002069878, 0.0032492788, 0.0017622102, 0.0032742694, 0.0033875788, 0.0020546266, 0.0016635552, 0.0039900765, 0.0022734492, 0.0014666966, 0.003943842, 0.004423518, 0.0028654207, 0.0034190586, 0.0036081732, 0.002271838, 0.0023548536, 0.003937093, 0.0013685015, 0.003744213, 0.0011832163, 0.0014790283, 0.0014564313, 0.0029864237, 0.0017577871, 0.0017476042, 0.0015212777, 0.0021987092, 0.0020822843, 0.0062727863, 0.0036195787, 0.0040787747, 0.0018447066, 0.008202542, 0.002267211, 0.0036002076, 0.0015512451, 0.0019065123, 0.00...","[0.0015133328, 0.0019477255, 0.0017076528, 0.0018828285, 0.004474589, 0.00143518, 0.0019007898, 0.002041725, 0.0013410802, 0.0017617677, 0.002508182, 0.0024122715, 0.002787235, 0.0016875057, 0.0025523326, 0.001655888, 0.0021157316, 0.0013721586, 0.0023321505, 0.0026074292, 0.0018673001, 0.0026868922, 0.002795604, 0.0016977484, 0.0033318745, 0.00454692, 0.001491756, 0.0022106848, 0.0016615898, 0.0061647864, 0.0064558904, 0.0036280067, 0.0016725991, 0.0015735559, 0.0020718165, 0.0032635033, 0.00177178, 0.003288344, 0.0034132092, 0.0020566476, 0.0016675151, 0.0040067923, 0.0022755247, 0.0014675409, 0.0039502713, 0.00449143, 0.0028699322, 0.003463393, 0.0036220048, 0.0022781948, 0.0023712432, 0.0039040928, 0.0013742489, 0.0037692366, 0.0011833988, 0.001483836, 0.0014587487, 0.0029970894, 0.0017582166, 0.0017364305, 0.0014976859, 0.0022034086, 0.002082206, 0.0063980687, 0.00364612, 0.004119398, 0.0018459085, 0.008249078, 0.0022907837, 0.003634497, 0.0015516445, 0.0019215788, 0.002247942...",0.00112
702,<EXPERT_PCT_1_AUTHOR>,<EXPERT_PCT_0_AUTHOR>,". Im going to buy my first computer this week and was wondering ; is the i 7 that much better than the i 5 ( both 3 rd gen ) for gaming and editing ? The i 7 is almost 75 % more priced than the i 5 . Am i better off spending on the i 5 and getting a better GPU or i 7 a better deal . I 'm getting a really good deal with the GTX 960 and now im thinking if i should save the money by getting an i 5 and getting an 1050 ti or it isn 't that much of an upgrade ? ( GT X 960 w / i 7 vs i 5 w / 1050 Ti ) Please do tell the reasons keeping in mind the things I 've mentioned above . ( Any pros and cons ) Soft w ares I 'll use :- Software engineering related soft w ares ( Java , C ++ ), Adobe Premiere etc . Thanks in Advance !","[0.0036353678, 0.0035162193, 0.0015294165, 0.0031455671, 0.0024248466, 0.0018699848, 0.0034741904, 0.0024366907, 0.0023247343, 0.002751601, 0.0027959417, 0.0032002446, 0.0031183914, 0.0026679793, 0.0029150578, 0.0028593852, 0.0017950838, 0.002275125, 0.0025739083, 0.002529949, 0.0041834004, 0.002896965, 0.0026475724, 0.0025884444, 0.0018159884, 0.002819312, 0.005118568, 0.0023709508, 0.006499827, 0.0062891105, 0.0038986588, 0.004162174, 0.0042427885, 0.003475279, 0.0053921123, 0.004597894, 0.0060528144, 0.0027122428, 0.004598679, 0.0026288626, 0.003026033, 0.005344595, 0.002271356, 0.0020171162, 0.008935901, 0.003957957, 0.0032205994, 0.0025170138, 0.0030341675, 0.0043498874, 0.001940358, 0.0024372241, 0.001978084, 0.0032954712, 0.0042762, 0.003095925, 0.0026413472, 0.0022078105, 0.0020769641, 0.002595201, 0.0020161658, 0.0031521774, 0.0038558964, 0.003564736, 0.0021968242, 0.0021301878, 0.002397384, 0.0036577433, 0.0024991534, 0.003288711, 0.0061918492, 0.0022801533, 0.004044514, ...","[0.0035946441, 0.0034894254, 0.0015285909, 0.0031418677, 0.002423571, 0.0018611836, 0.0034745124, 0.0024289493, 0.0023254598, 0.0027527483, 0.0027806158, 0.0031939656, 0.00310947, 0.0026533492, 0.0029124708, 0.0028587426, 0.0017887454, 0.0023014965, 0.0025578574, 0.0025300283, 0.004182069, 0.0028852907, 0.002647867, 0.0025836015, 0.0018124627, 0.0028401543, 0.005070483, 0.0023709317, 0.006454732, 0.0062701474, 0.0038931856, 0.0041567488, 0.004236568, 0.0034573, 0.0053595984, 0.004596472, 0.006033412, 0.0027080069, 0.004595332, 0.0026261127, 0.0030203222, 0.0053239204, 0.0022724746, 0.00202142, 0.008793481, 0.003941768, 0.0032183586, 0.002512725, 0.003029586, 0.004323396, 0.001935871, 0.002455662, 0.001976637, 0.0032922209, 0.004265787, 0.0030929977, 0.0026402, 0.002203646, 0.00207425, 0.002582978, 0.0020171825, 0.0031516124, 0.003854385, 0.0035505532, 0.0022013662, 0.0021253503, 0.0023953388, 0.0036605983, 0.00252811, 0.0032864902, 0.0061460454, 0.0022604794, 0.0040705707, 0.002874...",0.001015
264,<EXPERT_PCT_1_AUTHOR>,<EXPERT_PCT_0_AUTHOR>,added 8 GB more RAM and i cant get it to run at 3000 MHz anymore . it just causes my pc to boot up in safe mode until i reduce the RAM speed to 2400 MHz and only then will it boot . Any ideas ?,"[0.006878468, 0.005018795, 0.0070702634, 0.004924574, 0.014810103, 0.006839809, 0.0046913014, 0.009469947, 0.00517173, 0.006486958, 0.011186482, 0.009696715, 0.009361158, 0.012148254, 0.025980419, 0.009502741, 0.016132273, 0.0065720184, 0.007695115, 0.008843236, 0.006920248, 0.007354403, 0.0073796003, 0.01539408, 0.006252191, 0.008666948, 0.009842653, 0.01571077, 0.010713653, 0.0082361335, 0.0074835243, 0.00800434, 0.015427254, 0.014266755, 0.011510819, 0.017166317, 0.030246492, 0.010346262, 0.0057132556, 0.009853937, 0.010100761, 0.008570937, 0.012996314, 0.0122198425, 0.008153405, 0.008568702, 0.009578127, 0.13697684]","[0.006832352, 0.005015391, 0.007032808, 0.004942165, 0.015082614, 0.0068001268, 0.004672818, 0.009452561, 0.0052050133, 0.0064648837, 0.011156793, 0.009677637, 0.009393416, 0.012333626, 0.025594357, 0.009477252, 0.015986325, 0.0065358058, 0.0076880176, 0.008793664, 0.00688203, 0.0073581017, 0.007361506, 0.015403844, 0.0062391534, 0.008645248, 0.009802192, 0.015635034, 0.010635934, 0.008218613, 0.007521376, 0.007991127, 0.015427265, 0.014201587, 0.011511659, 0.017071113, 0.029793955, 0.010306681, 0.0057322485, 0.009949921, 0.010094757, 0.008554008, 0.01300524, 0.012174975, 0.008152039, 0.008533783, 0.009623721, 0.15343924]",0.00093
592,<EXPERT_PCT_1_AUTHOR>,<EXPERT_PCT_0_AUTHOR>,"1 . 5 years ago I build my new pc with an i 5 7 600 k and g tx 1070 , the experience was great at the beginning . After 3 months my games would started to run at a lower fps , so i rein st alled windows . I 've been doing this for one and a half year and I was sick of it , 3 months ago ( when i just rein st alled windows ) I tested my pc with m si after burn er . The cpu and g fx were both at ar round 80 pro cent and were 70 degrees ( both of them ). My g fx now is around 50 pro cent and my cpu at 100 pro cent . My cpu seems to be bottleneck ing my g fx after 3 months , of c ource bottleneck ing doesnt work that way . Is something I keep installing eating my cpu cores ? The tem ps are the same b tw , has this happ end to someone else and does someone know how to deal with this ? - Ali","[0.0014998969, 0.0040219524, 0.0014637476, 0.0020540177, 0.0035202592, 0.0016860077, 0.003223417, 0.0019802952, 0.002008906, 0.0022468958, 0.002740187, 0.002971562, 0.0018609446, 0.0029093437, 0.001841115, 0.0040679453, 0.0020575293, 0.0022069581, 0.0033171822, 0.0046720877, 0.0057822186, 0.0027665268, 0.0023323298, 0.0032784182, 0.0025622635, 0.0034629272, 0.0029141647, 0.002673069, 0.003856576, 0.005981385, 0.003862117, 0.0031160465, 0.0039297016, 0.0024511283, 0.005196575, 0.0031807707, 0.0043355045, 0.0036074745, 0.0034589241, 0.003084839, 0.0027825497, 0.0035573707, 0.0061691497, 0.0039567184, 0.0030266186, 0.0038034322, 0.0076206867, 0.0038557828, 0.0057160556, 0.0029976002, 0.0045061046, 0.0020144342, 0.0036141488, 0.0027538445, 0.002431868, 0.002836404, 0.0032473574, 0.0017634674, 0.002823662, 0.002305091, 0.0030668776, 0.0029396578, 0.0022618545, 0.0016180762, 0.002269182, 0.0039293617, 0.0027280285, 0.0032566423, 0.0032937932, 0.0023609102, 0.0034306953, 0.0035642595, 0.0...","[0.001498075, 0.003990555, 0.0014595848, 0.0020482063, 0.003504509, 0.0016739824, 0.003213279, 0.0019559066, 0.0020044486, 0.0022423079, 0.0027378253, 0.0029664226, 0.0018508397, 0.0029047858, 0.0018391142, 0.004021979, 0.0020519455, 0.002184425, 0.003315052, 0.004642669, 0.0056784423, 0.002753602, 0.0023316373, 0.0032749872, 0.0025488373, 0.0034608096, 0.0029068838, 0.0026707016, 0.00384606, 0.0059247515, 0.0038419818, 0.0031155988, 0.003912892, 0.0024274546, 0.0051790634, 0.003179124, 0.0043234057, 0.0036003673, 0.0034539388, 0.0030807885, 0.0027815735, 0.0035329391, 0.0061539463, 0.003941093, 0.0030239283, 0.0037970408, 0.0075726006, 0.0038478347, 0.0056323064, 0.0029936624, 0.0044717556, 0.0019928045, 0.0036025257, 0.002747842, 0.0024305186, 0.0028188974, 0.003243669, 0.0017637273, 0.0028096875, 0.002305631, 0.003060942, 0.0029329304, 0.0022493892, 0.0016086164, 0.0022655306, 0.003929182, 0.00271696, 0.0032312302, 0.0032778648, 0.00236006, 0.003419455, 0.0035468964, 0.003656178...",0.000845
19,<EXPERT_PCT_1_AUTHOR>,<EXPERT_PCT_0_AUTHOR>,", I have studied therm odynamics and I wonder why there is so much nons ens connection at water cool ed setup . P ipes going do and up - like in this setup . Is there pumps in these setups or is natural circulation driven ? https :// www . reddit . com / r / pc master race / comments / 8 mat 7 t / ins ane _ c able _ management _ f inally _ finished _ what _ do /","[0.004826718, 0.0026335544, 0.0023040343, 0.009698375, 0.011466997, 0.116559625, 0.0046311803, 0.00253117, 0.005068763, 0.0043966374, 0.002984124, 0.005161819, 0.0035185847, 0.0042479, 0.023013989, 0.009994842, 0.0051435065, 0.004385804, 0.004384189, 0.00764521, 0.0059540537, 0.0077710073, 0.0059729987, 0.006513862, 0.007838408, 0.0030718702, 0.003250117, 0.0049829897, 0.0040108473, 0.0060877902, 0.003798994, 0.007492762, 0.006341248, 0.01167436, 0.008597051, 0.007150148, 0.0038326564, 0.018994708, 0.0066015366, 0.0073418817, 0.012180254, 0.004466344, 0.005623976, 0.0066393414, 0.02795224, 0.008778984, 0.0063879387, 0.004979134, 0.0039361008, 0.006024938, 0.0073692817, 0.013914405, 0.006149698, 0.0064932574, 0.0047469405, 0.00566236, 0.003834797, 0.008218693, 0.010618289, 0.008143283, 0.004024389, 0.009187461, 0.00560655, 0.0027207958, 0.0070141307, 0.002995282, 0.0039706593, 0.0060678152, 0.0058478303, 0.006061336, 0.0052039055, 0.0055104615, 0.007721605, 0.0064265663, 0.009919615...","[0.004815204, 0.0026114318, 0.0023055482, 0.009608394, 0.011458572, 0.108869605, 0.004613691, 0.0024951173, 0.005069061, 0.0044064512, 0.0029744382, 0.005161265, 0.003515183, 0.0042463215, 0.02161539, 0.009952017, 0.0051296926, 0.0044123023, 0.004385814, 0.0076287948, 0.0059355535, 0.007773474, 0.005925091, 0.006508833, 0.007668522, 0.0031176114, 0.0032883468, 0.0049430593, 0.0040131765, 0.006076063, 0.0038051854, 0.007485413, 0.0063233273, 0.011644371, 0.008558122, 0.0071546966, 0.0038262622, 0.018372912, 0.006595795, 0.007337041, 0.012059873, 0.0044660317, 0.0056622247, 0.0067132865, 0.026433393, 0.0087160375, 0.0063919723, 0.0050183274, 0.003935893, 0.00599845, 0.0073235123, 0.013739107, 0.006101584, 0.0064834356, 0.0047499104, 0.005661333, 0.0038434158, 0.008218059, 0.010592027, 0.008154996, 0.0040720543, 0.0091445055, 0.0056119533, 0.0027220335, 0.0070051504, 0.0029952289, 0.0039733034, 0.006081193, 0.0059863897, 0.0060095033, 0.0051879734, 0.0055060117, 0.0077082217, 0.006443...",0.00084
588,<EXPERT_PCT_1_AUTHOR>,<EXPERT_PCT_0_AUTHOR>,"my dad has been yelling for the past year at my mom because as he says , and i quote , she doesnt fulfill his needs anymore . They are fighting every night and the past month it has gotten worse , I cant get enough sleep because they are up all night fighting and he is yelling at her all the time while she tries to calm him . I get panic attacks almost every night because I am crying so hard that i cant breath from hearing what he is saying to her and calling her names . I really dis sp ise him . He is abusive ( verb ally only ) towards my mom and I dont know how to handle it . I have exams at m and I cant concentrate cause its the only thing I am thinking about and i dont get enough sleep so i feel tired at the morning when i go to take my exams . Also , they keep fighting throughout the day , making it hard for me to study . My mom doesnt deserve this kind of treatment and I hate seeing her like this . I feel like the age gap is what causes this as my mom is going though men op ...","[0.0011305606, 0.0016411396, 0.0019221072, 0.0017535172, 0.005436741, 0.0021099923, 0.0019971682, 0.002825392, 0.0017017177, 0.0017892868, 0.0014268552, 0.001590677, 0.0022419698, 0.0016837828, 0.0017146685, 0.0023350678, 0.0033396473, 0.0018299354, 0.0018623846, 0.004922819, 0.002474899, 0.001555716, 0.0027893381, 0.006533741, 0.0021720766, 0.0019501172, 0.0029628521, 0.0036881142, 0.0021337962, 0.0019818072, 0.0038742914, 0.0029074468, 0.0029352354, 0.0023292634, 0.0021918155, 0.0033852207, 0.0022961493, 0.0023702476, 0.0021425597, 0.0021788622, 0.0027586923, 0.0029231226, 0.0016352775, 0.0025123009, 0.0024039382, 0.002197178, 0.0030239997, 0.0022363611, 0.0020644, 0.0015594572, 0.0020236475, 0.0017446899, 0.0027229947, 0.0036708275, 0.002034495, 0.0016376895, 0.0016505497, 0.008833228, 0.0020976383, 0.0016160193, 0.0016006767, 0.0018856222, 0.0016527777, 0.0021437677, 0.0019321712, 0.0037019958, 0.0021367855, 0.0049168086, 0.0021770375, 0.0036576837, 0.0019801748, 0.0015423014, ...","[0.0011258023, 0.001640863, 0.0019203757, 0.0017522103, 0.0054170457, 0.0021109958, 0.0019984823, 0.0028231316, 0.0016946443, 0.0017888988, 0.0014194167, 0.0015896262, 0.0022430823, 0.0016784784, 0.0017108358, 0.0023255646, 0.0033322873, 0.0018198309, 0.0018575022, 0.004918176, 0.0024672796, 0.0015528608, 0.0027884296, 0.0065115327, 0.002171519, 0.0019485663, 0.0029519172, 0.0036577214, 0.0021181386, 0.0019811797, 0.0038588138, 0.0029070107, 0.0029239631, 0.0023182335, 0.002190215, 0.003380035, 0.0022910761, 0.0023632562, 0.0021397271, 0.0021781272, 0.00275358, 0.002916166, 0.0016304844, 0.0025075888, 0.0024037994, 0.0021957099, 0.0030152835, 0.0022358536, 0.0020620301, 0.0015590887, 0.0020219292, 0.0017436021, 0.0027154638, 0.003663602, 0.0020262562, 0.0016325348, 0.0016501694, 0.008826434, 0.0020979429, 0.0016149591, 0.0016009992, 0.0018875396, 0.0016533488, 0.0021413057, 0.0019300918, 0.0036953199, 0.0021348982, 0.0049058856, 0.0021722107, 0.0036345455, 0.001968483, 0.0015427833...",0.000831

group=location_region

,group_1,group_2,source_text,input_attention_1,input_attention_2,attn_div
866,<US_AUTHOR>,<NONUS_AUTHOR>,"found out I was pregnant with my daughter at 19 years old , had her at 20 . When I told my parents they said they ' ld be happy for me but they didn 't want to pay for anything , have us live with them or babys it all the time , basically wanting to treat me they same they would if I had kids older and not as a teenager still going to university . I was already living independently , both my boyfriend and I worked and we live in a country with free / che ap education and healthcare . In our culture families are close and grandparents are very involved in their grandchildren 's lives , so I thought they 'd still be emotionally supportive . During my pregnancy I asked my parents and / or sister for help a few times : driving me to the hospital when I started contracting 3 months early , picking me up for a family event when I wasn 't allowed to drive , helping me prepare meals to put in the freezer , and staying with them for a weekend when I was due any day and my boyfriend couldn '...","[0.0013039489, 0.00096310274, 0.0006313581, 0.0012142446, 0.0025696089, 0.001057381, 0.0008620015, 0.0017641602, 0.0011955465, 0.0017078256, 0.0014395022, 0.0014191829, 0.0017313239, 0.0013299277, 0.0010500457, 0.0012782912, 0.001412692, 0.0017980749, 0.002576684, 0.0007874131, 0.0013152767, 0.00092043914, 0.0015505322, 0.0013525093, 0.0012358829, 0.001030858, 0.0014599566, 0.0023566731, 0.0010495005, 0.0019136496, 0.0015009172, 0.00096421305, 0.0011559825, 0.0010815641, 0.0010255815, 0.00093445927, 0.0009811214, 0.001363639, 0.0010731247, 0.0013115027, 0.0010701965, 0.0016765861, 0.0008354089, 0.0012391317, 0.0012842093, 0.0011331545, 0.0011627044, 0.0011586855, 0.003079529, 0.0010678786, 0.00091272546, 0.0010535959, 0.0010230418, 0.0018528296, 0.0013920784, 0.0014050159, 0.0013016324, 0.001992026, 0.0008877266, 0.000981815, 0.0014839006, 0.0009269305, 0.0009729508, 0.0009080799, 0.00069214415, 0.0012699731, 0.0010454087, 0.0017387695, 0.001228067, 0.000809471, 0.0010721893, 0.001...","[0.001312359, 0.0009643857, 0.00063396816, 0.0012160039, 0.0025875831, 0.0010577614, 0.00086472713, 0.0017701316, 0.0011982028, 0.0017109739, 0.001444042, 0.0014212054, 0.0017371997, 0.0013312325, 0.001051511, 0.001280771, 0.001415486, 0.0018149287, 0.0025902987, 0.00079052814, 0.0013179304, 0.0009240996, 0.0015539343, 0.0013542715, 0.0012400122, 0.0010323372, 0.0014638978, 0.0023957067, 0.0010508222, 0.0019241389, 0.0015023225, 0.000967214, 0.0011576604, 0.0010838113, 0.001026338, 0.00093544275, 0.0009819727, 0.001365149, 0.0010735156, 0.0013109007, 0.0010706221, 0.0016805453, 0.0008357056, 0.0012431046, 0.0012864866, 0.0011342318, 0.0011653352, 0.0011560065, 0.003085543, 0.0010739141, 0.0009131969, 0.0010541517, 0.001024304, 0.0018564113, 0.001395174, 0.0014081295, 0.0013028705, 0.0020063352, 0.00089014845, 0.0009831407, 0.0014860968, 0.00092794956, 0.00097356865, 0.00090824, 0.00069521373, 0.0012727623, 0.0010464969, 0.0017466007, 0.0012351503, 0.0008098242, 0.0010753013, 0.0015...",0.000362
25,<NONUS_AUTHOR>,<US_AUTHOR>,":// www . cn bc . com / 2018 / 05 / 31 / a - 523 - month ly - payment - is - the - new - standard - for - car - buy ers . html Sorry for the formatting , on mobile . Saw this article and thought I would put this up as a P SA since there are a lot of auto loan posts on here . This is sad to see as the "" new standard .""","[0.00428769, 0.006080981, 0.0062858043, 0.010568541, 0.012739029, 0.007376492, 0.006420173, 0.004382716, 0.011183444, 0.0038852477, 0.012358462, 0.005333837, 0.01289492, 0.0041604335, 0.0046340297, 0.004655211, 0.07038398, 0.0050136596, 0.009729752, 0.007269001, 0.004854194, 0.013602063, 0.004515078, 0.0045108176, 0.0047031436, 0.008558643, 0.00589615, 0.0076290667, 0.005019474, 0.0152115505, 0.006515356, 0.007503664, 0.0062547526, 0.008839439, 0.0072120884, 0.0076134577, 0.010875404, 0.010158939, 0.0073198806, 0.006497065, 0.0078158025, 0.0052177394, 0.011176878, 0.008210549, 0.008127691, 0.005984002, 0.008770121, 0.013657153, 0.0058246204, 0.011656163, 0.004703082, 0.005464794, 0.003956898, 0.005622773, 0.004021302, 0.004744039, 0.0046412353, 0.0049787406, 0.004184773, 0.006371623, 0.0065748394, 0.008935811, 0.0036802762, 0.004919453, 0.0042508254, 0.005005919, 0.0050302376, 0.006904408, 0.0057501486, 0.008366365, 0.006918917, 0.0050993664, 0.010235954, 0.007259623, 0.0055783507,...","[0.004276809, 0.0061340784, 0.0062563587, 0.010724492, 0.012705193, 0.0073406985, 0.006422729, 0.0043571778, 0.011033466, 0.0038836538, 0.012347205, 0.0053312248, 0.012789287, 0.0041581905, 0.004622997, 0.0046516056, 0.06604203, 0.004987767, 0.009643755, 0.007254, 0.0048530796, 0.0133690145, 0.004511115, 0.0045259665, 0.004700575, 0.008362167, 0.0058842283, 0.0075686844, 0.005015826, 0.015074358, 0.0065107425, 0.007487783, 0.006251795, 0.008740636, 0.007144264, 0.007559103, 0.0108411275, 0.010132372, 0.0072881575, 0.006481854, 0.007821789, 0.0051914584, 0.010862173, 0.008185427, 0.008119338, 0.005976866, 0.0087207155, 0.013287492, 0.0058146305, 0.011618693, 0.0046221567, 0.0054598064, 0.003937944, 0.0056299856, 0.0040240115, 0.0047242753, 0.0046411664, 0.0049758693, 0.004146306, 0.006246173, 0.0065347897, 0.0089337425, 0.0036797533, 0.0049285856, 0.0042536426, 0.0050087096, 0.00504131, 0.0068702335, 0.00571307, 0.008274396, 0.0069148536, 0.0050825533, 0.010182794, 0.007166068, 0.00...",0.00028
477,<US_AUTHOR>,<NONUS_AUTHOR>,"years ago , I had a month - long fl ing with a woman who I quickly ended up breaking ties with ; she turned out to be toxic and abusive , and I made an effort to stay as far away from her as possible . 3 years ago , I received an email from a young woman of 19 who introduced myself as this woman âĢ Ļ s daughter , and claimed that she âĢ Ļ s also MY biological daughter , borne of our long - ago relationship . She gave me her birth date , and I can ded uce that she was conceived right in the window of time that could have been near the end of our relationship , OR right after the breakup ; hard to know for sure . Even if this girl WAS conceived before we broke up , I do not trust that I was the only guy she was sleeping with , as our relationship was fairly âĢ ľ open âĢ Ŀ and loose . And I find it unusual that the woman I slept with never made any effort to contact me or let me know , if she really thought the child was mine . I didn âĢ Ļ t respond to this email , but she continued c...","[0.001343166, 0.0024707415, 0.0015288236, 0.0008615637, 0.0016951809, 0.0015419493, 0.0016590096, 0.0016919989, 0.0039953687, 0.0022378536, 0.0021303976, 0.0017772464, 0.0016640503, 0.0019156182, 0.0016723904, 0.00096327055, 0.0025930915, 0.0024683503, 0.0017279729, 0.0024495698, 0.0040713446, 0.0015294093, 0.0015113011, 0.0016242294, 0.0022609974, 0.0012417402, 0.001928907, 0.0016831437, 0.002289732, 0.0019501824, 0.0038556247, 0.0023126814, 0.0018685726, 0.0012694082, 0.0017291724, 0.0018236281, 0.0026742849, 0.0020278166, 0.0016410507, 0.0013159921, 0.0018532856, 0.0019464596, 0.0020298448, 0.0019409723, 0.0016197483, 0.001923603, 0.0025953525, 0.0014682639, 0.0019128529, 0.0021940195, 0.001976694, 0.0010847575, 0.0018432497, 0.0019086465, 0.0017989681, 0.0018153368, 0.001818423, 0.0026937441, 0.0018441547, 0.0017866206, 0.001906453, 0.0016758277, 0.004106289, 0.0017330114, 0.0012413654, 0.0016239334, 0.0017003173, 0.0016089184, 0.0012945854, 0.0020536645, 0.0018349617, 0.002286...","[0.0013478138, 0.0024616248, 0.0015317971, 0.00086478353, 0.0016949956, 0.0015379472, 0.0016500795, 0.0016921267, 0.0040156096, 0.0022384606, 0.0021359802, 0.0017777465, 0.0016647802, 0.0019242046, 0.0016708316, 0.0009662708, 0.0026074233, 0.002477677, 0.0017314532, 0.0024606627, 0.004078948, 0.0015303167, 0.0015145934, 0.0015845944, 0.0022664298, 0.0012427414, 0.0019322062, 0.0016844594, 0.0023023188, 0.0019603153, 0.0038749217, 0.0023118034, 0.0018594894, 0.0012742318, 0.0017308687, 0.0018250617, 0.0026899623, 0.0020291219, 0.0016446448, 0.0013164289, 0.0018517943, 0.0019512614, 0.0020304993, 0.0019417319, 0.0016229008, 0.0019235719, 0.002610162, 0.0014676044, 0.0019113227, 0.0021776129, 0.0019793743, 0.0010901801, 0.0018571736, 0.0019090591, 0.0018008633, 0.0018172634, 0.0018183216, 0.002702416, 0.0018510304, 0.0017876904, 0.0019110889, 0.0016772473, 0.004220091, 0.0017355988, 0.0012427825, 0.0016262417, 0.0016529239, 0.0016068631, 0.0012940016, 0.0020550126, 0.0018420026, 0.002...",0.000264
1160,<US_AUTHOR>,<NONUS_AUTHOR>,"âĢ Ļ m visiting my girlfriend âĢ Ļ s family for the first time and they âĢ Ļ re kind of rich . They have a maid who comes and tid ies up for a bit every day . My family isn âĢ Ļ t broke , but we âĢ Ļ ve never had people working for us , and it made me super uncomfortable . Like , who am I to have someone serving me and cleaning around me while I sit there ? I can âĢ Ļ t imagine if my mom were witnessing that . She âĢ Ļ d flip . So I got up and started to help her tidy up . She thanked me for the help and told me I really didn âĢ Ļ t have to worry about it , but I told her it was no trouble ( it really wasn âĢ Ļ t , we were just sitting watching TV .) Later that night my girlfriend âĢ Ļ s parents asked me not to help the maid clean because it was a boundary thing and her work was her work and guests are guests . I told them it made me really uncomfortable to have someone clean around me and they just said not to worry because she âĢ Ļ s paid well and has been with them a long time ....","[0.001124912, 0.0013940721, 0.0013334797, 0.003276063, 0.0012137064, 0.0019348289, 0.0013884043, 0.0014176795, 0.00145254, 0.0011733135, 0.0021056822, 0.0017123297, 0.0026407475, 0.0014078108, 0.0017492481, 0.0014577594, 0.0013771533, 0.0013935418, 0.0025275606, 0.0016492171, 0.001964311, 0.0032123788, 0.0023748204, 0.0027708155, 0.0011254849, 0.0016077054, 0.007028657, 0.0021841908, 0.0015487061, 0.002125021, 0.008218417, 0.0026941989, 0.0019536035, 0.0021951841, 0.0016928479, 0.0020370544, 0.0023286575, 0.0016962475, 0.0026195413, 0.0017995274, 0.0014724289, 0.0017320121, 0.0014515927, 0.0014108566, 0.0016299079, 0.0025696591, 0.0027672788, 0.0013711037, 0.0014841242, 0.0013314078, 0.0013102517, 0.0015555411, 0.0015252107, 0.0020422477, 0.0016389203, 0.0016584727, 0.002088226, 0.0017911071, 0.0021258069, 0.0016302641, 0.0013219814, 0.0014654954, 0.0011984986, 0.0023537246, 0.003336934, 0.0024730135, 0.0024484056, 0.002577211, 0.0020682537, 0.0015964524, 0.0016509655, 0.0021803617...","[0.001125219, 0.0013919688, 0.0013367534, 0.003321107, 0.0012186947, 0.0019472196, 0.0013880522, 0.0014099824, 0.0014570276, 0.0011763084, 0.0021085115, 0.0017128671, 0.0026399274, 0.0014118468, 0.0017562585, 0.0014606299, 0.0013778738, 0.0013940163, 0.0025319308, 0.0016504352, 0.0019668876, 0.0032510539, 0.002397383, 0.0027842, 0.0011255007, 0.0016118784, 0.0072449, 0.0021941317, 0.0015503631, 0.0021418286, 0.00863957, 0.0027374467, 0.0019590321, 0.0021988759, 0.0016942206, 0.0020438782, 0.0023317083, 0.0016999885, 0.0026390587, 0.0018049544, 0.0014786609, 0.0017378693, 0.0014635238, 0.0014113832, 0.0016315177, 0.0025800606, 0.0027735932, 0.0013720861, 0.0014874273, 0.0013305546, 0.0013051766, 0.0015606531, 0.001527407, 0.002045015, 0.0016364113, 0.0016604173, 0.0020898746, 0.0017955943, 0.0021302423, 0.0016375993, 0.0013240046, 0.001467282, 0.001201842, 0.0023605789, 0.0033508912, 0.002495449, 0.0024559402, 0.002584321, 0.0020736004, 0.0015997388, 0.0016578438, 0.0021846185, 0.00...",0.00025
1109,<NONUS_AUTHOR>,<US_AUTHOR>,"the baby first came , my MIL offered to help stay with us for a couple of month to help with all the baby duties and handle him throughout the night so we could get some rest . My MIL and I have an okay relationship . My husband says she likes me and we have always been friendly but she someone who doesn 't talk much and kind of distant in general so I don 't feel like we 're particularly close so I declined her staying with us . My husband wasn 't exactly on board with this but let me have my way given that I handled all the night feed ings . It 's been two weeks and I 'm freaking exhausted and in serious need of more sleep but my husband refuses to wake up during the night to take care of the baby . He just says just call MIL or tell him to let her help and that she would be happy to . He just says why am I trying to punish all three of us when we could all get what we want . He can get his sleep , I can get my sleep and MIL will feel happy that she gets to help out and it hurt h...","[0.0014608228, 0.0022784793, 0.0021463092, 0.002296838, 0.002695288, 0.0011478921, 0.0035111802, 0.0023964928, 0.0018480242, 0.0019669656, 0.0023573388, 0.0020059762, 0.0017263183, 0.0022186083, 0.001851614, 0.0017832583, 0.0026485268, 0.0018464802, 0.002277677, 0.0022303676, 0.0016027442, 0.0014144445, 0.0017530702, 0.0029112324, 0.0052701114, 0.0015583653, 0.0023294762, 0.0021106657, 0.004021624, 0.0020039962, 0.0024804175, 0.0014039305, 0.001971586, 0.0018966704, 0.0017958971, 0.0016089495, 0.0029587853, 0.003178532, 0.002097102, 0.003551947, 0.0018049978, 0.0012062181, 0.0015432345, 0.001960778, 0.0019207152, 0.0020153434, 0.0031759008, 0.0018632626, 0.002343026, 0.0021204688, 0.0013603738, 0.002621213, 0.0012813698, 0.0020172184, 0.0014849865, 0.0011273755, 0.0020251928, 0.0018267963, 0.0025775996, 0.0011612885, 0.0014599614, 0.0013374789, 0.0016651643, 0.0014835345, 0.0012429102, 0.00165277, 0.001558562, 0.002472226, 0.0020115627, 0.001977732, 0.004552481, 0.0025899925, 0.002...","[0.0014596566, 0.0022678622, 0.0021457747, 0.002286413, 0.0026842735, 0.0011428451, 0.0034950867, 0.002384567, 0.0018424041, 0.0019606198, 0.002346476, 0.002003383, 0.0017063951, 0.0022446546, 0.001851852, 0.0017765097, 0.00263531, 0.0018321585, 0.0022667707, 0.0022189938, 0.0015998863, 0.0014121034, 0.0017543565, 0.002894673, 0.0051525226, 0.0015408059, 0.002309628, 0.0020859432, 0.00391441, 0.0020011088, 0.002459242, 0.0014215967, 0.0019612487, 0.0018912505, 0.0017955822, 0.0016045021, 0.002953061, 0.0031459522, 0.0020734887, 0.0035576054, 0.0018013933, 0.0011955199, 0.0015439085, 0.0019562817, 0.0019167569, 0.0020107436, 0.0031199467, 0.0018421956, 0.0023786537, 0.0021014134, 0.0013546281, 0.0025720247, 0.0012694218, 0.0019974879, 0.001473672, 0.0011267797, 0.002022191, 0.0018197682, 0.0025555757, 0.0011569564, 0.0014566686, 0.0013336327, 0.0016579039, 0.0014837116, 0.0012428105, 0.0016525702, 0.0015577602, 0.0024537768, 0.0020113164, 0.001968964, 0.0044908123, 0.0025822127, 0.0...",0.000239
941,<US_AUTHOR>,<NONUS_AUTHOR>,"ife and I have two kids , an 8 year old girl and an 11 year old boy . My wife became a stay at home mom for a while after each of them was born but now she works a full time job like me . The thing that bothers me is that the kids pay 0 attention to me unless my wife tells them to or I 'm lect uring them . If they need anything they 'll always ask my wife . Help with homework , trouble at school , wanting something new , wanting to go out ... They always ask my wife . Which ends up making me the bad one because most of the interactions that I have with them is when they do something wrong or if they start acting up . That isn 't to say that my wife leaves the task to me , she does the same as well but she also gives them good moments which neg ates that , while I mostly get the bad ones . I work a lot and I travel quite a few times and my wife has said that the kids probably didn 't bond with me enough because of it . Which is not something that I could have avoided because my care...","[0.0044181063, 0.0016175227, 0.000805595, 0.0010797597, 0.0016651645, 0.0013649622, 0.002048526, 0.0016823427, 0.0015053033, 0.0014668213, 0.0018674233, 0.001818726, 0.001908712, 0.0016270865, 0.001641614, 0.0018299045, 0.0020285738, 0.0021449905, 0.0031720623, 0.0014788271, 0.0019839238, 0.0025949841, 0.0016392815, 0.0025408522, 0.0016897575, 0.0014905292, 0.0015298915, 0.0023525744, 0.0014920607, 0.0021110303, 0.0021147886, 0.0027412563, 0.0023208165, 0.001769908, 0.0018764413, 0.004296573, 0.001806237, 0.001596791, 0.0013335671, 0.0022284281, 0.0017073709, 0.0014520818, 0.0014133612, 0.0020306834, 0.0017201689, 0.001356801, 0.0029062298, 0.0024841777, 0.001596029, 0.0012736847, 0.0039424794, 0.0013872212, 0.0011692334, 0.0014494448, 0.0015013656, 0.001394239, 0.001387127, 0.002043179, 0.002452203, 0.0016580847, 0.0011227066, 0.0019503733, 0.0012110047, 0.00185409, 0.0027890236, 0.0015729292, 0.0016887042, 0.0018654082, 0.0011067353, 0.0014886869, 0.008027064, 0.00528792, 0.00152...","[0.004501315, 0.0016278075, 0.0008115603, 0.0010806648, 0.0016701799, 0.001368424, 0.0020563798, 0.0016860568, 0.0015080634, 0.0014730899, 0.0018706195, 0.0018329042, 0.0019259524, 0.0016318702, 0.0016455771, 0.0018412219, 0.0020348919, 0.0021926123, 0.003230435, 0.0014939439, 0.002013916, 0.0026532332, 0.0016405897, 0.0025517705, 0.0016965637, 0.0014981673, 0.001535417, 0.0023582377, 0.0014932961, 0.0021301317, 0.0021200194, 0.0026979554, 0.002324169, 0.0017759757, 0.0018815063, 0.0043731276, 0.0018105615, 0.0016008993, 0.001336897, 0.0022378992, 0.0017084542, 0.0014598111, 0.0014180139, 0.0020442482, 0.0017215203, 0.0013659433, 0.0029470562, 0.0024951347, 0.0015951102, 0.0012828141, 0.0039947554, 0.0013981601, 0.0011710946, 0.0014597262, 0.0015027357, 0.0013983336, 0.0013898336, 0.0020547612, 0.0024894085, 0.0016625749, 0.0011276535, 0.001965383, 0.0012167257, 0.0018704266, 0.0028089194, 0.001575063, 0.0016926301, 0.0018664219, 0.0011173851, 0.0014921833, 0.008386335, 0.005466578...",0.000214

group=relative_time_bin

,group_1,group_2,source_text,input_attention_1,input_attention_2,attn_div
389,<RESPONSE_TIME_0_AUTHOR>,<RESPONSE_TIME_1_AUTHOR>,"âĢ Ļ ve always been of the opinion that too much screen time is one of the worst things for kids . My daughter is 12 and has wanted one forever , but I âĢ Ļ ve held firm on it by not getting her one . I âĢ Ļ m divorced . My ex and I share custody . He had her last week and got her an iPhone and put it on his plan . I âĢ Ļ m pretty convinced that this is all just a passive aggressive jab at me because he knew I would either take it away or let him be the hero who finally got her a phone . Well I stood firm in my beliefs and took it from her when she came home . Of course she âĢ Ļ s furious with me . Thanks ex . She âĢ Ļ s barely talking to me . Her point is that she hasn âĢ Ļ t even done anything and that it âĢ Ļ s not mine to take . Her dad gave it to her .","[0.0018020831, 0.0019831958, 0.0019372591, 0.0022346156, 0.0021671704, 0.0028278069, 0.0025812804, 0.0033197477, 0.0018916442, 0.0019713177, 0.0025929117, 0.0045416513, 0.0022583026, 0.002360688, 0.0018652957, 0.0035917582, 0.0029598437, 0.0034627586, 0.0018832997, 0.0032464382, 0.0018871822, 0.0038199173, 0.0017955387, 0.0025871024, 0.0033017052, 0.0022359, 0.0022985083, 0.002566436, 0.0023558727, 0.0031855595, 0.0021541761, 0.0053359084, 0.0051997416, 0.0024114256, 0.0023401969, 0.0030950438, 0.002871733, 0.0033688536, 0.002882638, 0.004511946, 0.0039604492, 0.0034785313, 0.0044575036, 0.002314319, 0.0034404574, 0.0034393102, 0.0023632436, 0.0041865846, 0.0021893517, 0.0022121, 0.0022531492, 0.0019193193, 0.0018103941, 0.0051834453, 0.004455968, 0.0015316491, 0.0024865903, 0.004241549, 0.0028890758, 0.0018000876, 0.0025365066, 0.0042119334, 0.0036217927, 0.0019185019, 0.0022228425, 0.0030611062, 0.0021374782, 0.003701155, 0.0028044113, 0.0027138167, 0.0025689667, 0.0022613946, 0....","[0.0018085131, 0.002013834, 0.0019455272, 0.0022431128, 0.0021760915, 0.00284065, 0.0025904542, 0.0033481217, 0.0018995616, 0.0019771312, 0.0026117768, 0.004569834, 0.0022682936, 0.0023672017, 0.0018734599, 0.0036091767, 0.002970576, 0.0034919798, 0.0018937472, 0.0032598916, 0.0018984139, 0.0038386048, 0.0017987462, 0.0025956854, 0.0033273227, 0.0022466546, 0.002315713, 0.002596592, 0.0023709955, 0.003197002, 0.0021631774, 0.005378301, 0.005214147, 0.002421025, 0.0023477816, 0.003101639, 0.0028814368, 0.0033761314, 0.0028980544, 0.0045481166, 0.003971421, 0.003482947, 0.00447319, 0.0023175715, 0.0033608265, 0.0034383456, 0.0023689917, 0.004196982, 0.0021911499, 0.0022168884, 0.002257776, 0.0019243837, 0.0018157432, 0.0052478136, 0.0044722385, 0.0015335423, 0.0024957748, 0.0042564236, 0.0028988244, 0.001805095, 0.002550111, 0.0042148833, 0.0036356123, 0.0019200984, 0.0022314563, 0.0030654953, 0.0021422291, 0.0037146704, 0.0028172936, 0.0027155546, 0.0025859457, 0.0022668815, 0.00271...",0.002417
620,<RESPONSE_TIME_1_AUTHOR>,<RESPONSE_TIME_0_AUTHOR>,"am having an issue with my probation officer . I had no luck going to this person 's superior for recomp ense . I have been given a deadline that I cant possibly meet . The deadline was to an alternative sanction in lieu of being brought up for a technical violation . The violation is for breaking a rule of probation - The vern acular used was you either accept the alternative sanction or go to jail . In the moment , I signed the paperwork agreeing to the alternative sanction despite voicing my objections as to the timeline . Prob ation is un sy mp athetic with respect to the concerns I have raised about the timeline they have given me . Because I am in a position where I am going to be unable to compete the task within the time frame demanded - it was explained to me that if I fail to do they will proceed with the violation hearing and bring me in front of a judge to violate me . I don 't really understand the process here . I would also rather not wait around for ...","[0.0015057422, 0.0020889142, 0.0016828661, 0.001938256, 0.0019186842, 0.0013644545, 0.0036391488, 0.0032188878, 0.003194679, 0.0011386708, 0.0014722773, 0.0020954637, 0.002265022, 0.0043524266, 0.001962006, 0.0024217041, 0.0022120583, 0.0017596487, 0.0025476671, 0.0052684033, 0.0021262052, 0.011187216, 0.005293207, 0.0040536565, 0.0013622637, 0.001476103, 0.0014188392, 0.0019045871, 0.0025800532, 0.002520931, 0.0053233323, 0.0018518874, 0.002015446, 0.0028366423, 0.002071016, 0.0027875048, 0.0045060017, 0.0034855546, 0.0040926803, 0.0022895976, 0.0020783085, 0.0024116838, 0.002309253, 0.00379843, 0.016998302, 0.002977963, 0.004937822, 0.0021950328, 0.0018388884, 0.0018740208, 0.0021870197, 0.0025593482, 0.0017099977, 0.005852825, 0.0012156023, 0.004255175, 0.0030796393, 0.0036866846, 0.0041712616, 0.0018522609, 0.0024082307, 0.0023839225, 0.002233837, 0.004308181, 0.0020258687, 0.0032703287, 0.0016543099, 0.0042202575, 0.0016197034, 0.0014102578, 0.009479949, 0.06963317, 0.00153678...","[0.0014988314, 0.0020795788, 0.0016767317, 0.0019240989, 0.0019139808, 0.0013646369, 0.0035762682, 0.0031596897, 0.0031753557, 0.001136222, 0.001465172, 0.0020885402, 0.0022608615, 0.004311418, 0.0019583178, 0.002415335, 0.0021989278, 0.0017490092, 0.0025374938, 0.005167189, 0.0021210765, 0.010609973, 0.005241603, 0.00402746, 0.0013548736, 0.0014726638, 0.0014144664, 0.0018938016, 0.002565242, 0.0025155207, 0.0052235043, 0.0018461902, 0.0020062968, 0.0028141849, 0.0020523595, 0.0027588014, 0.004484335, 0.0034377873, 0.004028204, 0.0022995307, 0.0020764614, 0.002406193, 0.0023037773, 0.0037635267, 0.015933022, 0.0029717847, 0.004828912, 0.0021907925, 0.0018476546, 0.0018503064, 0.0021800867, 0.002552343, 0.0017069806, 0.0057922797, 0.0012134032, 0.0041986257, 0.003066659, 0.0036556493, 0.0041126567, 0.0018471794, 0.0024031105, 0.0023689712, 0.002231749, 0.0042794677, 0.0020169462, 0.0032527943, 0.001647902, 0.004184869, 0.0016172396, 0.0014084359, 0.009224996, 0.062421143, 0.0015294...",0.002399
77,<RESPONSE_TIME_0_AUTHOR>,<RESPONSE_TIME_1_AUTHOR>,"know this has probably been asked a million times , but I still haven 't found a clear cut answer . For the sake of bre vity , my state 's law requires 48 hours notice . They hired contractors to do work on all of the buildings . I guess they needed to get in to do something . Fine , sure . The problem is there was NO warning . I 'm never home at that time , it was a one off occasion , and the reason I 'm annoyed because I woke up from a nap and a maintenance kid and another kid with the contractors were just in my place . I went for my gun . I was scared . I was also bare ass naked . After I got done yelling at the maintenance kid I talked to the contractor one ( I was cool with him , he 's getting paid jack shit to do this job ) and he said that 's how they 've been doing it with every unit . How do I know they don 't do this all the time ? All I want is to move out of this crappy cooperate apartment . I 've carefully reviewed the lease , and it 's a clear bree ch . Should I make...","[0.0012066723, 0.0017611419, 0.001988017, 0.0017350204, 0.0018408512, 0.0017906929, 0.0018369735, 0.0037154842, 0.0020570736, 0.0019127142, 0.001870556, 0.0013704409, 0.0016365909, 0.0028834557, 0.0017343654, 0.0023950643, 0.002167866, 0.0029339679, 0.002735782, 0.002409311, 0.0028396142, 0.0030291644, 0.0020117308, 0.005371258, 0.002489389, 0.0072264145, 0.019245578, 0.0028073732, 0.0013546919, 0.0026691065, 0.002459119, 0.0027608306, 0.0036230218, 0.006769131, 0.0025619525, 0.0028572895, 0.0040152557, 0.0024512096, 0.0027165997, 0.0043424526, 0.002463047, 0.0020676272, 0.0020292522, 0.0025747847, 0.0026437151, 0.0027238878, 0.0024360786, 0.0028853074, 0.0035639587, 0.0015495422, 0.002327659, 0.0020706616, 0.0018202299, 0.0026151857, 0.001997701, 0.002440382, 0.0022655744, 0.0018252044, 0.001839659, 0.0029275003, 0.0073907473, 0.002278049, 0.0016769596, 0.003157772, 0.0032771248, 0.0022151219, 0.0018024759, 0.0019632978, 0.0023239423, 0.002398809, 0.0039479192, 0.0039816704, 0.001...","[0.0012131371, 0.0017736324, 0.0019997358, 0.0017435593, 0.001848604, 0.0018002979, 0.0018414144, 0.0038092704, 0.0020789718, 0.001924787, 0.0018776127, 0.0013769682, 0.0016453972, 0.00290503, 0.0017389008, 0.0024172985, 0.0021790992, 0.0029611685, 0.0027550058, 0.002423653, 0.0028579473, 0.0030634415, 0.0020170326, 0.00543295, 0.0025019757, 0.007336554, 0.020267073, 0.0028215218, 0.0013603757, 0.0026981079, 0.0024711122, 0.0027854799, 0.0036601825, 0.0069472557, 0.0027501702, 0.0029034012, 0.004041993, 0.002474359, 0.0027417524, 0.0044306293, 0.0024701343, 0.0020704197, 0.002044189, 0.002581621, 0.0026474914, 0.0027331482, 0.0024413252, 0.00293408, 0.0035807563, 0.0015554667, 0.002343995, 0.0022185263, 0.0018341934, 0.0026248512, 0.0020020916, 0.0024509048, 0.002271961, 0.0018278972, 0.001845154, 0.0029752962, 0.007589004, 0.0022855615, 0.0016811024, 0.003170963, 0.003297897, 0.0022236854, 0.0018060466, 0.0019705815, 0.0023357882, 0.0024188613, 0.0039953897, 0.0040055155, 0.001656...",0.002321
447,<RESPONSE_TIME_1_AUTHOR>,<RESPONSE_TIME_0_AUTHOR>,"my 15 - year - old daughter wanted to go hang out at a friend 's place ( call friend h annah ) and go to the mall and then stay at the h annah s place overnight , I knew the girl and the girl 's mum so I agreed . she packs her bag and gives me a hug and leaves . At around 10 I decided to text Hannah 's mum to ask how it 's going and she gets super confused at my question , I said you have my daughter right ? she goes no , h annah is with her dad this weekend I have no teens with me at m . so she calls Hannah 's dad to sort the situation out and he tells her that he is still at work and h annah should be home alone . I walk over to Hannah 's m ums house and we drive up to Hannah 's dads . turns out h annah and my daughter wanted to get drunk and throw a house party with older guys , I was seeing red at this point and grabbed her by the arm and dragged her out . when we got home I made her hand over her phone and laptop which she has lost the privilege of having for 2 weeks ( ex l ud...","[0.0011116645, 0.0021253512, 0.0017477387, 0.004295791, 0.0021541987, 0.0029625997, 0.002762061, 0.0019736984, 0.002066897, 0.0015191955, 0.002590381, 0.001555179, 0.002403987, 0.0020239572, 0.001964022, 0.0023413966, 0.0020725562, 0.0022850384, 0.004412898, 0.0018231428, 0.0024163346, 0.00936391, 0.0018913343, 0.0023937682, 0.0017044276, 0.0021365844, 0.001960429, 0.009317638, 0.0017918964, 0.0026753638, 0.0025288041, 0.0026631271, 0.0024256958, 0.0026974678, 0.010967933, 0.002865072, 0.0020006658, 0.0046118964, 0.002968775, 0.0013805821, 0.0024988144, 0.002191783, 0.0024338053, 0.0021378058, 0.0027904657, 0.0020270632, 0.0021897275, 0.0028082381, 0.0016662197, 0.00145169, 0.0025891864, 0.0031151916, 0.0016842082, 0.00783003, 0.0017639839, 0.0032134303, 0.002028911, 0.0027500961, 0.0015116655, 0.0018352018, 0.0031342297, 0.0017709057, 0.003221626, 0.0029401435, 0.0023357775, 0.0023843646, 0.0015753788, 0.0016371213, 0.0024310958, 0.0024123942, 0.003185456, 0.005473465, 0.002526002...","[0.0011039448, 0.0020903554, 0.0017403704, 0.004265254, 0.0021477046, 0.0029100627, 0.002726561, 0.0019665249, 0.0020605235, 0.0015141821, 0.0025710675, 0.0015501905, 0.0023961647, 0.0020222075, 0.0019532114, 0.002330875, 0.002058554, 0.0022774776, 0.0043642307, 0.0018104753, 0.002401033, 0.009004419, 0.0018833482, 0.0023810402, 0.001697829, 0.0021293198, 0.0019529262, 0.009062405, 0.0017822732, 0.0026600552, 0.0025124506, 0.0026560659, 0.0024190084, 0.0026751123, 0.010519244, 0.0028539146, 0.0019839779, 0.004500911, 0.002963371, 0.0013762356, 0.0024849833, 0.0021875328, 0.0024131685, 0.00212494, 0.0027921554, 0.0020143162, 0.0021827556, 0.0027815118, 0.001663754, 0.0014459325, 0.002563504, 0.0030878654, 0.0016833023, 0.0076640053, 0.0017585218, 0.0031852862, 0.0020195302, 0.0027365182, 0.0015049787, 0.0018320908, 0.0030719277, 0.0017628788, 0.003186019, 0.0029280756, 0.002308005, 0.0023765562, 0.0015707228, 0.0016299605, 0.0024204091, 0.0024060183, 0.0031694153, 0.005257106, 0.002...",0.002069
584,<RESPONSE_TIME_1_AUTHOR>,<RESPONSE_TIME_0_AUTHOR>,"am a professor that lectures undergraduate courses in statistics and probability . A lot of the students that take my courses struggle because they 're not math / stats majors , and only take them because they 're required for social science or business majors . One of my students failed to show up to his final exam . I emailed him asking why , and he showed up at my office the next morning to explain . App ar antly he had come out as gay to his family the day prior and they reacted very poorly . He said he was too traumat ized ( his words ) to take my exam , which was his last . I asked him if he had a note from a mental health specialist and he said he didn 't because he just stayed home all day coping with his parents ' rejection . I told him I 'm sorry but that I can 't let him sit the final without a note . This discussion went on for about an hour and he got extremely emotional , insisting this was a special case where rules had to be bent . I disagreed , and as the final mad...","[0.0014908958, 0.001719832, 0.003433749, 0.0014662212, 0.0067609176, 0.008056499, 0.0044786157, 0.002245552, 0.00565352, 0.0015529315, 0.009507461, 0.004038324, 0.0019035904, 0.0019266539, 0.002548112, 0.0020108079, 0.0032220942, 0.0014987816, 0.0018094557, 0.0014325343, 0.0058883764, 0.0029275273, 0.0018003348, 0.0022723696, 0.0021854318, 0.0013099487, 0.003047026, 0.002200881, 0.07347286, 0.008859338, 0.002803245, 0.0023104707, 0.0017105407, 0.0019437782, 0.0019511076, 0.0025775353, 0.002186658, 0.002383859, 0.0019015269, 0.0024846694, 0.0023410593, 0.0040648202, 0.0021766834, 0.0026563853, 0.0071385647, 0.0037715242, 0.0026456837, 0.0021259058, 0.0016829128, 0.0027643116, 0.0027885018, 0.0023844894, 0.0022462967, 0.0021329948, 0.002273185, 0.002097211, 0.004010992, 0.0061094556, 0.0035517672, 0.0012505174, 0.0031898231, 0.001995195, 0.0014906337, 0.0016423259, 0.0019409581, 0.0019946033, 0.001997326, 0.002817459, 0.0018901512, 0.0020368756, 0.0018243184, 0.0030886983, 0.00242095...","[0.0014830467, 0.0017164802, 0.0033679807, 0.0014596855, 0.0065175933, 0.007825909, 0.0044084033, 0.0022371127, 0.005421742, 0.0015436013, 0.009010797, 0.004015846, 0.0018935204, 0.0019218118, 0.0025382477, 0.0020060313, 0.0031791632, 0.001487585, 0.0018050899, 0.0014264926, 0.005815914, 0.002850256, 0.0017952344, 0.0022663018, 0.0021745842, 0.0013069415, 0.0030040701, 0.0021969383, 0.06384849, 0.008630294, 0.0027946834, 0.0023016338, 0.0017066011, 0.0019384053, 0.0019406807, 0.0025707697, 0.0021804615, 0.0023719193, 0.0018869326, 0.0025282092, 0.0023281518, 0.003941387, 0.0021729672, 0.0026373782, 0.007004087, 0.0037466108, 0.0026304885, 0.0021335909, 0.0016775554, 0.0027221725, 0.002750501, 0.0023768386, 0.0022324608, 0.0021282155, 0.0022669495, 0.0020875207, 0.0039928444, 0.0059703127, 0.0035302464, 0.0012434665, 0.0031586208, 0.0019888424, 0.0014865143, 0.0016405496, 0.001939132, 0.0019870608, 0.0019919625, 0.0027855332, 0.0018856048, 0.0020315128, 0.0018177398, 0.003058312, 0....",0.002062
228,<RESPONSE_TIME_0_AUTHOR>,<RESPONSE_TIME_1_AUTHOR>,"need help figuring this out . I live at home and a majority of my income goes to supporting the family . There are five of us in the house , my mother , father , two brothers and myself . I am 22 years old . I work as a personal assistant to my disabled brothers . They are aged 18 and 20 . They receive disability but no other income . My mother works retail and will make around $ 12 , 000 this year . I will make around $ 16 , 000 this year . This is the first year I will have to file . My father hasn 't worked in 4 years following a stroke , he receives no income . What I am wondering is can I claim my brothers and file as head of household . And get the E IT C for them . While my mother could file either married or married filing separately ? While my dad would not file at all .","[0.0019598547, 0.0030180933, 0.0029403288, 0.002471525, 0.0024862932, 0.0044868574, 0.0017637974, 0.0025936184, 0.0027576773, 0.002388917, 0.0031531658, 0.0030073975, 0.005432161, 0.003908386, 0.002276863, 0.0033517592, 0.003399539, 0.002925762, 0.0032302842, 0.0029850886, 0.00206202, 0.0041156253, 0.0035121697, 0.0026576244, 0.0035657994, 0.0031535416, 0.0025946992, 0.004331217, 0.0028324404, 0.003951569, 0.003904331, 0.0026944852, 0.0030248412, 0.004218463, 0.0028779698, 0.004833089, 0.002758415, 0.0051983614, 0.0036559922, 0.0053599435, 0.004605162, 0.0020813653, 0.0027118553, 0.004133423, 0.004472485, 0.004183279, 0.0054301647, 0.0021288907, 0.0027369743, 0.0030368015, 0.0027175755, 0.0036066296, 0.004781794, 0.0042424947, 0.0026051295, 0.0048425775, 0.0037146346, 0.0057195537, 0.0030210994, 0.0026553844, 0.006029196, 0.0038685575, 0.002686664, 0.0031090095, 0.0040746005, 0.0041349092, 0.003367097, 0.006107144, 0.0019445932, 0.0023993421, 0.0031070244, 0.0032251065, 0.006749958...","[0.0019709643, 0.0030445782, 0.0029872344, 0.0024839437, 0.0024953943, 0.004512759, 0.0017817144, 0.0026188886, 0.00277313, 0.0024025608, 0.0031772715, 0.0030183815, 0.00553752, 0.003928515, 0.0022860966, 0.003424428, 0.0034367447, 0.0029407358, 0.0032654721, 0.002999281, 0.002079051, 0.0041433293, 0.0035638502, 0.002682246, 0.003732175, 0.0031773143, 0.0026136064, 0.004352042, 0.0028466273, 0.0039818343, 0.0039143944, 0.002701345, 0.0030703447, 0.0042381966, 0.0029007592, 0.00484496, 0.0027731173, 0.005276681, 0.0036650146, 0.005377706, 0.0045987973, 0.0021166801, 0.0027219749, 0.0041539893, 0.004487967, 0.004182062, 0.0054547642, 0.0021336186, 0.0027469853, 0.0030712935, 0.0027463967, 0.0036203205, 0.004869016, 0.0042568827, 0.0026129305, 0.004919031, 0.0037585357, 0.0057561877, 0.0030522454, 0.0026628927, 0.006170269, 0.0038841215, 0.002698251, 0.0031202682, 0.00408935, 0.0041491, 0.003451077, 0.0062893964, 0.0019518372, 0.002404227, 0.0031223358, 0.0032558867, 0.0067717866, 0.0...",0.00205

In [ ]:
## TODO: add questions from G1, G2; add subreddit

In [11]:
## TODO: visualize attention in blocks
class CharVal(object):
    def __init__(self, char, val):
        self.char = char
        self.val = val

    def __str__(self):
        return self.char

def rgb_to_hex(rgb):
    return '#%02x%02x%02x' % rgb
MAX_COLOR_VAL=255
# MAX_COLOR_VAL=220 # reduce intensity?
def color_charvals(s, cmap):
    # convert value to color via cmap
    # then map from RGB to hex
#     r = 255-int(s.val*255)
#     color = rgb_to_hex((255, r, r))
    cmap_color = (np.array(cmap(s.val)[:3])*MAX_COLOR_VAL).astype(int)
    cmap_color = tuple(cmap_color)
    color = rgb_to_hex(cmap_color)
    return 'background-color: %s' % color

In [12]:
import matplotlib.pyplot as plt
from matplotlib import cm
cmap = plt.get_cmap('Reds')
tokenized_text = 'this is some tokenized text'.split(' ')
attention_output = np.random.randn(len(tokenized_text))
char_vals = [CharVal(c, v) for c, v in zip(tokenized_text, attention_output)]
import pandas as pd
char_df = pd.DataFrame(char_vals).transpose()
# apply coloring values
## TODO: convert to RGB w/ custom color map in matplotlib
char_df = char_df.style.applymap(lambda x: color_charvals(x, cmap))
display(char_df)

In [33]:
## do the same thing for paired text
from sklearn.preprocessing import StandardScaler
def visualize_attention(data, cmap, attn_vars=['input_attention_1', 'input_attention_2'], rescale=False, rescale_offset=0.5):
    tokens = data.loc['input_tokens']
#     attn_1 = data.loc['input_attention_1']
#     attn_2 = data.loc['input_attention_2']
#     token_attn_vals_1 = list(map(lambda x: CharVal(*x), zip(tokens, attn_1)))
#     token_attn_vals_2 = list(map(lambda x: CharVal(*x), zip(tokens, attn_2)))
    # optional rescale by min/max
    if(rescale):
        for attn_var_i in attn_vars:
            data.loc[attn_var_i] = (data.loc[attn_var_i] - data.loc[attn_var_i].mean()) / data.loc[attn_var_i].std() + rescale_offset
#             data.loc[attn_var_i] = data.loc[attn_var_i] * rescale_offset
            # min-max scaling distorts min/max scores, since they tend to be close to 1.
#             min_i = data.loc[attn_var_i].min()
#             max_i = data.loc[attn_var_i].max()
#             data.loc[attn_var_i] = (data.loc[attn_var_i] - min_i) / (max_i - min_i)
            # tmp debug
#             print(f'rescaled attn = {data.loc[attn_var_i]}')
    char_df = pd.DataFrame([
        list(map(lambda x: CharVal(*x), zip(tokens, data.loc[attn_var_i])))
        for attn_var_i in attn_vars
    ]).transpose()
    char_df = char_df.style.applymap(lambda x: color_charvals(x, cmap))
    display(char_df)
    # tmp debug
#     display(data.loc[['input_attention_1', 'input_attention_2']])

In [28]:
cmap = plt.get_cmap('Reds')
for group_i, data_i in attn_div_data.groupby('reader_group'):
    data_i.sort_values('attn_div', ascending=False, inplace=True)
    print(f'group category={group_i}')
    viz_data_i = data_i.iloc[0, :]
    visualize_attention(viz_data_i, cmap, rescale=False)

group category=expert_pct_bin

group category=location_region

group category=relative_time_bin

Let's look at the ratios instead of the raw scores.

In [22]:
attn_div_data = attn_div_data.assign(**{
    'attn_ratio_1_2' : attn_div_data.apply(lambda x: np.array(x.loc['input_attention_1']) / np.array(x.loc['input_attention_2']), axis=1)
})

In [44]:
cmap = plt.get_cmap('coolwarm')
rescale_offset = 0.5 # center distribution around 1.0 - 0.5 = 0.5
sample_per_group = 5
for group_i, data_i in attn_div_data.groupby('reader_group'):
    data_i.sort_values('attn_div', ascending=False, inplace=True)
    ## TODO: show questions after attn distribution
    for idx_j, viz_data_j in data_i.iloc[:sample_per_group, :].iterrows():
        # show raw ratio val
        print(f'id={viz_data_j.loc["article_id"]}; group category={group_i}; group_1={data_i.loc[:, "group_1"].iloc[0]} (red); group_2={data_i.loc[:, "group_2"].iloc[0]} (blue)')
#         print(viz_data_i.loc['attn_ratio_1_2'])
        visualize_attention(viz_data_j, cmap, attn_vars=['attn_ratio_1_2'], rescale=True, rescale_offset=rescale_offset)

id=bu69wd; group category=expert_pct_bin; group_1=<EXPERT_PCT_0_AUTHOR> (red); group_2=<EXPERT_PCT_1_AUTHOR> (blue)

id=9qrjlh; group category=expert_pct_bin; group_1=<EXPERT_PCT_0_AUTHOR> (red); group_2=<EXPERT_PCT_1_AUTHOR> (blue)

id=c97ggc; group category=expert_pct_bin; group_1=<EXPERT_PCT_0_AUTHOR> (red); group_2=<EXPERT_PCT_1_AUTHOR> (blue)

id=aejy92; group category=expert_pct_bin; group_1=<EXPERT_PCT_0_AUTHOR> (red); group_2=<EXPERT_PCT_1_AUTHOR> (blue)

id=bu67mz; group category=expert_pct_bin; group_1=<EXPERT_PCT_0_AUTHOR> (red); group_2=<EXPERT_PCT_1_AUTHOR> (blue)

id=cpbrj0; group category=location_region; group_1=<US_AUTHOR> (red); group_2=<NONUS_AUTHOR> (blue)

id=8ni7i0; group category=location_region; group_1=<US_AUTHOR> (red); group_2=<NONUS_AUTHOR> (blue)

id=bg8kyr; group category=location_region; group_1=<US_AUTHOR> (red); group_2=<NONUS_AUTHOR> (blue)

id=e9lsqc; group category=location_region; group_1=<US_AUTHOR> (red); group_2=<NONUS_AUTHOR> (blue)

id=dqayjg; group category=location_region; group_1=<US_AUTHOR> (red); group_2=<NONUS_AUTHOR> (blue)

id=b1tzjp; group category=relative_time_bin; group_1=<RESPONSE_TIME_0_AUTHOR> (red); group_2=<RESPONSE_TIME_1_AUTHOR> (blue)

id=bxu9wt; group category=relative_time_bin; group_1=<RESPONSE_TIME_0_AUTHOR> (red); group_2=<RESPONSE_TIME_1_AUTHOR> (blue)

id=8ym3nc; group category=relative_time_bin; group_1=<RESPONSE_TIME_0_AUTHOR> (red); group_2=<RESPONSE_TIME_1_AUTHOR> (blue)

id=barg6e; group category=relative_time_bin; group_1=<RESPONSE_TIME_0_AUTHOR> (red); group_2=<RESPONSE_TIME_1_AUTHOR> (blue)

id=bt5abc; group category=relative_time_bin; group_1=<RESPONSE_TIME_0_AUTHOR> (red); group_2=<RESPONSE_TIME_1_AUTHOR> (blue)

These results are interesting and could point to patterns:
- `NONUS` author has higher attention for family-related words (`grandmother`)
- `NOVICE` author has higher attention on specific details (`getting`, `custody`) and controversial (?) phrases (`I would either take it away`)
- `LONG-RESPONSE` author has higher attention on personal details (`convinced`, `divorced`)

It's hard to know exactly what the model is doing under the hood, but if we had the generated questions then we might be able to see how the attention distributions contribute to the final predictions.

In [ ]:
## this is too clunky for the paper, let's just convert directly to TeX and visualize