# Explore subreddit graph
Let's look at the graph of subreddits that we collected from comment cross-posting.

In [6]:
import pandas as pd
subreddit_comment_graph = pd.read_csv('../../data/reddit_data/comment_2019-01_cross_posting.gz', sep='\t', compression='gzip', index_col=False)
subreddit_comment_graph.drop('Unnamed: 0', axis=1, inplace=True)
print(subreddit_comment_graph.shape)
display(subreddit_comment_graph.head())

(28527789, 3)

     subreddit_i      subreddit_j  count
0        AskDocs   TooAfraidToAsk  140.5
1  EverspaceGame        Minecraft    2.5
2  EverspaceGame  MinecraftSwitch    2.0
3  EverspaceGame   NintendoSwitch    2.5
4  EverspaceGame         OXENFREE    1.5

In [11]:
## convert to weighted undirected network
display(subreddit_comment_graph.sort_values('count', inplace=False, ascending=False).head())

          subreddit_i   subreddit_j   count
879          Market76          fo76  7390.0
2009   AgeplayPenPals  dirtypenpals  7065.5
548          Market76    fo76bazaar  5878.0
2010     dirtykikpals  dirtypenpals  4268.5
43679       teenagers  teenagersnew  3642.0

In [9]:
subreddit_comment_graph[(subreddit_comment_graph.loc[:, 'subreddit_j']=='AskDocs') & 
                        (subreddit_comment_graph.loc[:, 'subreddit_i']=='TooAfraidToAsk')]

Empty DataFrame
Columns: [subreddit_i, subreddit_j, count]
Index: []